.footer {
	position: fixed;
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	height: 60px;
	background-color: #101113;
    color: white;
   	padding: 5px;
   	z-index: 9999;
}

.cross-box {
	font-size: x-large;
	color: #77c1f5;
	cursor: pointer;
}
.plusSign {
	text-align: center;
    cursor: pointer;
    background-color: #264155;
    font-size: 30px;
    line-height: 40px;
    color: #77c1f5;
    border-radius: 25px;
    width: 45px;
    height: 45px;
}
plusSign span{margin-left: -1px;}
plusSign:hover{
    -webkit-filter: brightness(1.3);
    -moz-filter: brightness(1.3);
    -o-filter: brightness(1.3);
    -ms-filter: brightness(1.3);
}
.header {
    background-color: #101113;
    color:white;
    text-align:center;
    padding:5px;
}

#overlay{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    filter:alpha(opacity=50);
    -moz-opacity:0.5;
    -khtml-opacity: 0.5;
    opacity: 0.5;
    z-index: 100000;
}
.loading{
    background-color: white;
    font-size: 60px;
    display: block;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    left: 45%;
    top: 30%;
    z-index: 200000;
}
.loading img{
	padding: 40px;
}
body{
	background-color: #1B2838;
	color: white;
}
body a{
	color: #1B3818;
}
div.box h2{
	font-family: "Motiva Sans Light", "Motiva Sans", arial, tahoma, sans-serif;
    font-weight: normal;
    font-size: 30px;
    color: white;
    text-align: left;
}
div.box{
    background-color: #16202D;
    height: 200px;
    margin-right: 50px;
    margin-top: 60px;
    border-radius: 20px;
    padding: 20px;
}

div.box select {
	padding: 2px 3px;
    height: 40px;
    color: #67c1f5;
    background-color: #264155;
    border-radius: 2px;
    border: none;
    vertical-align: top;
    width: 100%;
    font-size: 15px;
    margin-top: 35px;
}
div.box input {
	padding: 2px 3px;
    height: 40px;
    color: #77c1f5;
    background-color: rgba( 103, 193, 245, 0.2 );
    border-radius: 2px;
    border: none;
    vertical-align: top;
    width: 100%;
    font-size: 15px;
    margin-top: 10%;
}
div.box input2 {
	height: 40px;
    width: 100%;
    font-size: 17px;
    background: #f4f4f4;
    color: black;
	margin-top: 10px;
}
.boton{
	background-color: ##799905;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#799905), color-stop(95%,#536904));
    border-radius: 10px;
    margin-top: 30px;
    padding: 0 15px;
    text-align: center;
    cursor: pointer;
}
.boton:hover{
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#99B924), color-stop(95%,#536904));
}
.boton a{
	font-size: 35px;
	line-height: 50px;
	color: #D2E885;
}
.boton a:visited{
	color: #D2E885;
}
#result .game{
	display: inline-block;
    width: auto;
    max-width: 440px;
    background-color: #16202D;
    padding: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
   	animation-name: smuthmaaan;
   	animation-duration: 4s;
   }
   #result .game a{
   	text-decoration: none;
   	display: block;
   }
   #result .game span{
   	color: white;
   	display: block;
    font-size: 26px;
    line-height: 32px;
   	text-overflow: ellipsis;
   	font-family: "Motiva Sans", Arial, Helvetica, sans-serif;
   }
   #result .game img{
	width: 400px;
	animation-name: example;
   	animation-duration: 1s;
}
   #result .game span img{
    margin-left: 10px;
    width: 35px;
    float: right;
    background-color: white;
   }
   
   .btn-filter{
   	border-radius: 2px;
    border: none;
    padding: 1px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none !important;
    color: #67c1f5 !important;
    background: rgba( 103, 193, 245, 0.2 );
   }
   .btn-filter span:hover{
   	color:white;
   }
   .btn-filter span{
	padding: 0 15px;
	font-size: 12px;
	line-height: 24px;
   }
   
   @keyframes smuthmaaan {
   	from {opacity: 0;}
   	to {opacity: 1;}
}

#result .game .storeLink {
	color: white;
	margin-top: 15px;
	margin-left: 15px;
	text-decoration: underline;
}
.copiedToClipboard{
	margin-top: 20px;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(5%,#99B924), color-stop(95%,#536904));
	padding: 10px;
	display: none;
}
.copiedToClipboard span{
	display: block;
	text-align: center;
}
#result .game .playLink {
	margin-top: 10px;
	background: linear-gradient( to bottom, rgba(164,208,7,1) 5%, rgba(107,135,5,1) 95%);
	text-decoration: none !important;
	border-radius: 2px; border: none;
	padding: 1px; display: inline-block;
	cursor: pointer;
	color: #ffffff !important;
	text-align: center;
}
#result .game .playLink:active {
	background: linear-gradient( to bottom, rgb(106, 134, 9) 5%, rgba(107,135,5,1) 95%);
}	
#result .game .playLink:hover {
	background: linear-gradient( to bottom, rgb(207, 241, 85) 5%, rgba(107,135,5,1) 95%);
}

#result .game .playSpan {
	color: #D2E885 !important;
	cursor: pointer;
	padding: 0 15px;
	font-size: 15px;
	line-height: 30px;
	border-radius: 2px;
	display: block;
	background: transparent;
	text-shadow: -1px -1px 0px rgba(0, 0, 0, 0.1);
}
.selected{background-color: #67c1f5;}
.selected span{color: #263C4B;}

.views img{
	width: 30px;
	margin-right: 20px;
	border: 1px solid rgba( 103, 193, 245, 0.2 );
	padding: 5px;
	cursor: pointer;
	background: #263C4d;
}
.views a{
	border: 10px solid rgba( 103, 193, 245, 0.2 );
	margin-right: 20px;
}

#result .listStyle .game{
	display: inline-block;
	width: 83%;
	max-width: 100%;
	height: auto;
	padding: 10px;
	margin-bottom: 5px;
	animation-name: smuthmaaan;
	animation-duration: 3s;
}
#result .listStyle .game img{
	width: 200px;
}
#result .listStyle .game label{
	font-size: 20px;
	margin-left: 30px;
}
#result .listStyle .game .os  span {
	width: 115px;
	display: inline-block;
}
#result .listStyle .game .os  span img{
	width: 25px;
	background: none;
	float: left;
}
#result .listStyle .game .os  span.gameType{
	width: 185px;
	display: inline-block;
}
#result .listStyle .game .os  span.gameType img{
	width: 35px;
	float: left;
	margin-left: 5px;
}
.shareLink{
	margin-bottom: 50px;
	cursor: pointer;
}
.shareLink div{
	padding: 20px;
	background-color: rgba( 103, 193, 245, 0.2 );
}
.shareLink img{
	width: 20px; 
	margin-right: 10px;
}
#result .gameType{
	margin-top: 10px;
}
#result .gameType span{
	display: inline;
    margin-left: 40px;
}
#result .gameType span img{
	margin: 0px;
	float: none;
	background-color: transparent;
}
#result .gameType img{
	width: 25px;
    float: right;
    margin-top: 5px;
}

#result .pull-right{
	width: 295px;
}