#{extends 'main.html' /}
#{set title:'Home' /}
<div class="container">
	<div class="row" id="usersDiv">
		<div id="box1" class="col-md-4 col-md-offset-2 box">
			<h2>USER <span id="userNumTxt">1</span></h2>
			<input type="text" id="iduser1Id" placeholder="Id or Alias..." />
			<a href="#" id="getFriendsLink" style="display: none; color: white;">Compare with my Friends</a>
		</div>
		<div id="box2" class="col-md-4 box">
			<h2>USER <span id="userNumTxt">2</span></h2>

			<input type="text" id="iduser2Id" placeholder="Id or Alias..."/>
			<div id="friendList"></div>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-2 col-md-offset-6 col-xs-offset-2 col-xs-6 plusSign" id="addUserBtn">
			<span>+</span>
		</div>
	</div>
	
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-offset-2 col-xs-6 boton" id="checkGamesBtn2">
			<a href="#" class="btn" >Check shared games!</a>
			<img id="loadingGif" style="visibility: hidden;" src="@{'/public/images/loading.gif'}" />
		</div>
	</div>
</div>


<div class="container" id="result" style="margin-top: 80px; margin-bottom: 90px;"></div>

#{set 'moreScripts'}
	#{get 'moreScripts' /}

	<script type="text/javascript">
		var resp;
		
	
		function callSharedGamesv2(){
			var finalIds=new Array();
			$(".box").each(function(index) {
				
    			var val = $('#'+this.id+' input')[0].value;
    			if (val.trim()!=''){
    				finalIds.push(val);	
    			}
    			else {
    				$('#result').html("Empty Field");
					$("#overlay").css("display", "none");
					$(".loading").css("display", "none");
    			}
			});
	
	    	$.ajax({
				  url: "/Application/getSharedGames",
				  data: "usersIds="+finalIds.join(),
				}).done(function(d) {
					if (d != ''){
						$('#result').html(d);
						$('html, body').animate({
					        scrollTop: $("#result").offset().top
					    }, 1000);
	
					} else {
						$('#result').html("No games in common");
					}
		        	//$('#loadingGif').css('visibility','hidden');
					$("#overlay").css("display", "none");
					$(".loading").css("display", "none");
			});
		}
		
		var userNumber=2;
		var crosses=2;
		function createUserBox(){
			userNumber++;
			crosses++;
			var realUserNumber = $('.box').length +1;
			if (realUserNumber%2!=0){
				
				$('#usersDiv').append('<div id="box'+crosses+'" class="col-md-4 col-md-offset-2 box">\
					<h2>USER <span id="userNumTxt">'+ realUserNumber +'</span><span id="cross'+crosses+'" class="pull-right cross-box">X</span></h2>\
					<input type="text" id="aliasuser'+userNumber+'Id" placeholder="Id or Alias..." />\
				</div>');
			}
			else {
				$('#usersDiv').append('<div id="box'+crosses+'" class="col-md-4 box">\
						<h2>USER <span id="userNumTxt">'+realUserNumber+'</span><span id="cross'+crosses+'" class="pull-right cross-box">X</span></h2>\
						<input type="text" id="aliasuser'+userNumber+'Id" placeholder="Id or Alias..." />\
					</div>');
			}
			addChangeFunctionality(userNumber);
	     	$('#cross'+crosses).click(function() {
	     		$(this).parent().parent().remove();
	        	userNumber--;
	        	$( ".box" ).each(function(index) {
	        		var indexPosta=index+1;
	        		$($( "#"+this.id+" h2 span" )[0]).html(indexPosta);
	        		if (indexPosta%2!=0) {
						if (!$(this).hasClass('col-md-offset-2')){
							$(this).addClass('col-md-offset-2');
						}
	        		}
	        		else {
	        			if ($(this).hasClass('col-md-offset-2')){
							$(this).removeClass('col-md-offset-2');
						}
	        		}
	        	});
	 		});
	
		}
	
		function addChangeFunctionality(nro){
	        $('#user'+nro+'Id').change(function() {
	        	if ($('#user'+nro+'Id').val() == '0'){
	        		$('#aliasuser'+nro+'Id').css("display","block");
	        		$( "#aliasuser"+nro+"Id" ).focus();
	        		$('#iduser'+nro+'Id').val('');
	        		$('#iduser'+nro+'Id').css("display","none");
	        	}
	        	else if ($('#user'+nro+'Id').val() == '00'){
	        		$('#iduser'+nro+'Id').css("display","block");
	        		$( "#iduser"+nro+"Id" ).focus();
	        		$('#aliasuser'+nro+'Id').val('');
	        		$('#aliasuser'+nro+'Id').css("display","none");
	        	}
	        	else {
	        		$('#aliasuser'+nro+'Id,#iduser'+nro+'Id').val('');
	        		$('#aliasuser'+nro+'Id, #iduser'+nro+'Id').css("display","none");
	        	}
	        });
		}
		
		$(function() {
			var user1, user2 = "";
			
	        $('#checkGamesBtn2').click(function() {
	        	$('#result').html("");
	        	//$('#loadingGif').css('visibility','visible');
	        	$("#overlay").css("display", "inline-block");
	        	$(".loading").css("display", "inline-block");
	        	
	        	callSharedGamesv2();

	        });
	        addChangeFunctionality(1);
	        addChangeFunctionality(2);
	        
	        $('#addUserBtn').click(function() {
	        	createUserBox();
	        });
	        
	        #{if usersIds!=null }
	    		$.ajax({
				  url: "/Application/getSharedGames",
				  data: "usersIds=${usersIds}",
				}).done(function(d) {
					if (d != ''){
						$('#result').html(d);
						$('html, body').animate({
					        scrollTop: $("#result").offset().top
					    }, 1000);
	
					} else {
						$('#result').html("No games in common");
					}
		        	//$('#loadingGif').css('visibility','hidden');
					$("#overlay").css("display", "none");
					$(".loading").css("display", "none");
				});
	        #{/if}
	        
		});
		
		
		$(document).ready(function(){
			$("#iduser1Id").keyup(function(){
				if($(this).val().length >= 1){
					$("#getFriendsLink").css("display", "inline");
				}else{
					$("#getFriendsLink").css("display", "none");
				}
			});
			
			$("#getFriendsLink").click(function(){
				$("#overlay").css("display", "inline-block");
	        	$(".loading").css("display", "inline-block");
				$.ajax({
				  url: "@{Application.getFriends()}",
				  data: "userId="+$("#iduser1Id").val(),
				}).done(function(data) {
					$("#overlay").css("display", "none");
		        	$(".loading").css("display", " none");
					$("#friendList").html(data);
					$("#iduser2Id").css("display", "none");
					$("#friendList select").change(function(){
						$("#iduser2Id").val($(this).val());
					});
					
					$("#friendList select").html($("#friendList select option").sort(function (a, b) {
					    return a.text == b.text ? 0 : a.text < b.text ? -1 : 1
					}))
				});
				
			});
			
		}); //FIN READY
	</script>
#{/set}